.flex-container {
    display: flex;
    margin: 20px;
    padding: 20px;
    flex-direction: column;
}

.flex-item {
    flex-grow: 1;
}

.flex-input {
    width: 400px;
}

.flex-button {
    width: 200px;
}