.grid-container {
    display: grid;
    grid-auto-columns: max-content;
    grid-auto-flow: dense;
    grid-auto-rows: minmax(100px, auto);
    grid-gap: 25px;
    grid-template-columns: repeat(3, 1fr);
    margin: 0 auto;
    text-align: center;
    padding: 20px;

}

.grid-item {
    grid-column: span 1;
    grid-row: span 1;
}
.flex-container{
    display: flex;
    align-items: center;
    justify-content:last baseline;
}